{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row">
      <form class="form-inline" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit">
      </form>
    </div>
    <div class="row">
      <div class="col">
        <h5>Previous order</h5>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Article</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          {% for product, amount in products.items %}
            {% if product in missing_products %}
              <tr class="table-danger">
                {% else %}
              <tr class="table-default">
            {% endif %}
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.article }}</td>
          <td>{{ product }}</td>
          <td>{{ amount }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        {% if new_products %}
          <h5>Modified order
          <a href="{% url 'configurator:order_detail' pk=new_order_id %}">detail</a>
          <a class="text-danger" href="{% url 'configurator:order_delete' pk=new_order_id %}">delete</a>
          </h5>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Article</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for product, amount in new_products.items %}
              <tr class="table-default">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.article }}</td>
                <td>{{ product }}</td>
                <td>{{ amount }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div>
          {% if multiple_products %}
            <h5>Multiple products</h5>
            {% for product_set in multiple_products %}
              <ul><strong>{{ product_set.old_product }}</strong></ul>
              {% for product in product_set.new_products %}
                <li>{{ product }}</li>
              {% endfor %}
              <hr>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
