{% extends "base.html" %}

{% block content %}
  <br>
  <div class="order-container">
    <div class="row">
      <div style="width: 185px" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"></svg>
          <span class="fs-4">Options</span>
        </p>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{% url 'configurator:order_create' %}" class="nav-link text-white" aria-current="page">
              <svg class="bi me-2" width="16" height="16"></svg>
              New order
            </a>
          </li>
          <li>
            <a href="{% url 'configurator:order_delete' pk=order.id %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              Order delete
            </a>
          </li>
          <li>
            <a href="{% url 'configurator:order_edit' pk=order.id %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              Order edit
            </a>
          </li>
          <li>
            <a href="{% url 'configurator:order_copy' pk=order.id %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              Order copy
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md">
        <h1>Order: {{ order }}</h1>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#product_list">Product list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#set_list">Set list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#scheme">Order scheme</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade" id="info">
            <div class="row">
              <div class="col-md">
                <br>
                <div class="row">
                  <div class="col-md-3">
                    <p><strong>Id: </strong>{{ order.id }}</p>
                    <p><strong>Created: </strong>{{ order.created }}</p>
                    <p><strong>Modified: </strong>{{ order.changed }}</p>
                    <p><strong>Manager: </strong>{{ order.manager }}</p>
                    <p><strong>Client: </strong>{{ order.client }}</p>
                  </div>
                  <div class="col-md">
                    <p><strong>Manufacturer: </strong>{{ order.manufacturer }}</p>
                    <p><strong>Serie: </strong>{{ order.serie }}</p>
                    <p>
                      <strong>Mech color: </strong>{{ order.mech_color }}
                      <button type="button" style="background: {{ order.mech_color.hex_code }}"
                              class="btn btn-primary disabled"></button>
                    </p>
                    <p>
                      <strong>Cover color: </strong>{{ order.cover_color }}
                      <button type="button" style="background: {{ order.cover_color.hex_code }}"
                              class="btn btn-primary disabled"></button>
                    </p>
                    <p>
                      <strong>Frame color: </strong>{{ order.frame_color }}
                      <button type="button" style="background: {{ order.frame_color.hex_code }}"
                              class="btn btn-primary disabled"></button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="product_list">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Article</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
              </tr>
              </thead>
              <tbody>
              {% for product, amount in products.items %}
                <tr class="table-default">
                  <th scope="row">{{ product.id }}</th>
                  <td>{{ product.article }}</td>
                  <td>{{ product }}</td>
                  <td>{{ amount }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="set_list">
            <ul>
              {% for set in order.sets.all %}
                {{ set }} size:{{ set.size }} frame: {% if set.frame %}{{ set.frame }}{% endif %}
                <ul>
                  {% for place in set.places.all %}

                    {% if place.mechanism %}
                      <li>{{ place.mechanism }}</li>{% endif %}
                    {% if place.cover %}
                      <li>{{ place.cover }}</li>{% endif %}
                    {% if place.additional %}
                      <li>{{ place.additional }}</li>{% endif %}
                  {% endfor %}
                </ul>
                <hr>
              {% endfor %}
            </ul>
          </div>
          <div class="tab-pane fade active show" id="scheme">
            <br>
            <h4>Horizontal frames</h4>
            <hr>
            <div class="row">
              {% include "includes/set_list_scheme.html" with ordersets=horizontal %}
            </div>

            <br>
            <h4>Vertical frames</h4>
            <hr>
            <div class="row">
              {% include "includes/set_list_scheme.html" with ordersets=vertical %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
