{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
{#  <div class="container">#}
{#    <form action="" method="post">#}
{#    {% csrf_token %}#}
{#      {{ formset.management_form }}#}
{##}
{#      <div class="row">#}
{#        {% for form in formset %}#}
{#          <div class="col-2">#}
{#            {{ form.as_p }}#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      <input type="submit" name="submit">#}
{#    </form>#}
{#  </div>#}

  <form action="" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" name="submit">
  </form>
{% endblock %}
