{% for size, ordersets in ordersets.items %}
  <div class="col-md justify-content-center">
    <div class="d-flex justify-content-center">
      <h5>Frame {{ size }}x
        <a class="text-decoration-none"
            href="{% url 'configurator:set_create' %}?order={{ order.id }}&size={{ size }}">add set</a>
      </h5>
    </div>
    <ul style="padding-left: 0">
      {% for orderset in ordersets %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">{{ orderset.set }} - {{ orderset.amount }}pc
            <a class="text-dark badge bg-warning text-wrap text-decoration-none" title="edit current set"
               href="{% url 'configurator:set_edit' pk=orderset.set.id %}">edit</a>
            <a class="text-dark badge bg-danger text-wrap text-decoration-none" title="delete current set"
               href="{% url 'configurator:set_delete' pk=orderset.set.id %}">delete</a>
            <a class="text-dark badge bg-success text-wrap text-decoration-none" title="add new place"
               href="{% url 'configurator:place_create' pk=orderset.set.id %}">+</a>
          </div>
          <div class="card-body">
            <div>{{ orderset.set.frame }}</div>

            <ul style="padding: 5px">
              {% for place in orderset.set.places.all %}
                <hr>
                <ul>Place: {{ forloop.counter }}
                  <a class="badge text-decoration-none" title="edit place"
                     href="{% url 'configurator:place_update' pk=place.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="icon-bottom bi bi-pencil" viewBox="0 0 16 16">
                      <path
                          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                  </a>
                  <a class="badge text-decoration-non" title="delete place"
                     href="{% url 'configurator:place_delete' pk=place.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="icon-bottom bi bi-trash" viewBox="0 0 16 16">
                      <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                  {% if place.mechanism %}
                    <li>{{ place.mechanism.component }}</li>{% endif %}
                  {% if place.cover %}
                    <li>{{ place.cover.component }}</li>{% endif %}
                  {% if place.additional %}
                    <li>{{ place.additional.component }}</li>{% endif %}
                </ul>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
